@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Tutorial link - <a target="_blank" href="https://www.yogihosting.com/aspnet-core-duende-identityserver/">ASP.NET Core - Duende IdentityServer authentication and authorization with Identity</a></p>
</div>
